openapi: 3.0.0
info:
  title: Command API
  version: 1.0.0
servers:
  - url: http://command-api.aimerzarashi.com
paths:
  /stock/items:
    post:
      summary: Register stock items
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StockItem"
      responses:
        "201":
          description: Successful Created
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
  /inbound/plans:
    post:
      summary: Register for inbound plans
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InboundPlan"
      responses:
        "201":
          description: Successful Created
        "400":
          description: Bad request
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    InboundPlan:
      type: object
      properties:
        arrivalDate:
          type: string
          format: date
        itemId:
          type: string
        quantity:
          type: number
        unit:
          type: string
      required:
        - arrivalDate
        - itemId
        - quantity
        - unit
    StockItem:
      type: object
      properties:
        name:
          type: string
      required:
        - name
